<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Search Song</title>
    <style>
		body {
		 background-image: url("/images/Headphones1.png");
		 background-size: cover;
		 background-position: center;
		 background-repeat: no-repeat;
		 height:100vh;
		 width:100vw;
		 position: relative;
		}
		#textbox {  
		 margin: auto;
		 font-size: 22px; 
		 text-align: center; 
		 background-color: rgba(255, 255, 255, 0.682); 
		 border: solid navy; 
		 margin-left: 22%;
		 margin-right:22%;
		} 
        input[type=submit] {
        background: purple;
        color: white;
        border-radius: 2rem;
        height: 3rem;
        width: 10rem;
		}
		input[type=submit]:hover {
			background: blue;
		}
		input[type=reset] {
        background: purple;
        color: white;
        border-radius: 2rem;
        height: 3rem;
        width: 10rem;
		}
		input[type=reset]:hover {
			background: blue;
		}
        img {
		 height:10rem;
		 width:10rem;
		}
	 </style>
</head>

<body>
    <div id = "textbox">
	<h1>Add songs</h1>
	<form action="/addSongs" method="post">

		<fieldset>
			<label>Username: <input type="text" name="name" required></label>
			<label>Song Name: <input type="text" name="song" required></label>
		</fieldset>
        <br>
		<input type="reset">
		<input type="submit" onclick="data" value="Submit Application">

	</form>

    <div id = "display">
        <%- message %>
    </div>
	<hr>

    <a href="/">HOME</a>
</div>

    <script>

        function no(){
            document.getElementById("display").innerHTML = "We are sorry for not being able to find a song. Please give it another try with a different Song. :)";
        }

        function yes(){
            window.location.href = "songAdded";
        }
    </script>
</body>



</html>